{% extends 'admin/glitter/dialog.html' %}

{% block title %}Discard this unsaved page version{% endblock %}

{% block form %}
    {% csrf_token %}
    <h2 class="glitter-message">Are you sure you want to delete this version?</h2>
{% endblock %}

{% block buttons %}
    <input type="submit" value="Yes, delete it" class="glitter-form-delete" name="_save">
    <button class="glitter-form-button" onclick="window.parent.GlitterEditor.close_popup();return false;">No, thank you</button>
{% endblock %}
